{%extends 'base.html' %}
{%block title%} lista produto {% endblock title%}
    {%block conteudo%}
    <h1>Lista de Protudos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Marca</th>
                <th>Categoria</th>
                <th>Descrição</th>
                <th>Avaliação</th>
                <th>Preço</th>
                <th>qtd. Estoque</th>
                <th>Criado em</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{product.}}</td>
                <td>{{product.name}}</td>
                <td>{{product.brand}}</td>
                <td>{{product.category}}</td>
                <td>{{product.description}}</td>
                <td>{{product.rating}}</td>
                <td>{{product.price}}</td>
                <td>{{product.name}}</td>
                <td>{{product.name}}</td>
                <td>{{product.name}}</td>
            </tr>
            {% empty %}
            
            <tr>
                <td colspan="10"> Nenhum Produto Encontrado</td>
            </tr>
            
            {% endfor %}
        </tbody>
        
    </table>
    {%endblock conteudo%}